logs
project/project
project/target
target
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
.classpath
.project
/RUNNING_PID
.settings
.target
.cache
bin
.DS_Store
activator-sbt-*-shim.sbt
conf/application.conf
conf/quartz.properties
conf/logback.xml
am-consumer-api-0.0.1-SNAPSHOT/
*.out
dist/Procfile
conf/evolutions/read
nlog-emails-sent/
cancelled/*
conf/quartz.properties
conf/lowPrioQuartz.properties
conf/evolutions/default/1.sql

# Elastic Beanstalk Files
.elasticbeanstalk
awbs/*
.cache-*
conf/quartz.properties_copy
combined-pdfs/*
ecom/*
ecom_labels/*
xb/*
xb_labels/*
.swp
conf/generated.keystore
conf/evolutions/default/1.sql
deploy/*
/.metadata/
